{% include 'template/header.html' %}
<div id="content">
	<div class="post_list">
		<div class="page-post" id="post-5">
			<div class="post_content">
				<h1><a href="/page/{{blog.pagename}}.html" rel="bookmark">{{blog.titleb}}</a></h1>
				<ul class="meta clearfix">
					<li class="date"><a>{{blog.date|gettimeba}}</a></li>
					<li class="comments"><a href="#comments" title="《{{blog.titleb}}》上的评论">{{blog.comment_count}}条评论</a></li>
					<li class="browses"><span><a>{{blog.browse_count}}次浏览</a></span></li>
					<li class="read_more qrcode-li"><a>二维码</a>
						<div class="qrcode"><img src="http://chart.googleapis.com/chart?cht=qr&amp;chs=200x200&amp;choe=UTF-8&amp;chld=L|4&amp;chl={{base.HOSTURL}}/page/{{blog.pagename}}.html" alt="二维码"></div>
					</li>
				</ul>
				<div class="entry clearfix">
					<p>{{blog.content|safe}}</p>
				</div>
			</div>
		</div>
		<div class="post-bottom"></div>
	</div>
	{%if blog.ismsg %}
		{% include 'template/commment.html' %}
	{%endif%}
{% include 'template/footer.html' %}